/TestJDK/nbproject/private/
/TestJDK/build/
/Teoria/nbproject/private/
/Teoria/build/
/Clase03/nbproject/private/
/Clase03/build/
/Clase04/nbproject/private/
/Clase05/nbproject/private/
/Clase04/Clase09/nbproject/private/
/Clase05/Clase05/nbproject/private/
/Clase09/Clase09/nbproject/private/
/Clase06/Clase06/nbproject/private/
/Clase08/Clase08/nbproject/private/
/Clase07/Clase07/nbproject/private/
/Clase09/build/
/ModeloParcialSistemaBiblioteca/nbproject/private/
/ModeloParcialSistemaBiblioteca/build/
/Clase13/nbproject/private/
/Clase14/nbproject/private/
/Clase15/nbproject/private/
/Clase15/build/
/Clase16/nbproject/private/
/Clase17/nbproject/private/
/Clase17/build/
/Clase17/dist/
/Clase19/nbproject/private/
/Clase19/build/
/PracticaSegundoParcial/nbproject/private/
